.button{
    border-bottom: .5px solid rgba(239, 239, 239, 0.229);
    border-left:.5px solid rgba(239, 239, 239, 0.229) ;
    border-top: .1px solid rgba(239, 239, 239, 0.229);
    text-align: center;
    line-height: 78px;

}